# Block node_modules globally from all subfolders
node_modules/
backend/node_modules/
frontEnd/node_modules/

# Block secrets
.env
backend/.env
frontEnd/.env

# Block build logs and production folders
dist/
frontEnd/dist/
.dist/